.main {
  /* width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-template-rows: 200px 1fr 1fr;
  background: #EEE;
}
